@import url('https://fonts.googleapis.com/css2?family=Geist+Pixel&display=swap');


:root {
  --bg-color: #ffb162;
  --text-color: #601616;
  --font: "Geist Pixel", sans-serif;
}

:root.dark-mode {
  --bg-color: #2f268b;
  --text-color: #ffd900;
  --font: "Geist Pixel", sans-serif;
}

body {
  background-color: var(--bg-color);
  border: solid;
  border-color: var(--text-color);
  border-width: 1rem;
  padding: 0;
  margin: 0;
  min-height: 100vh;
}

button, h1, p, h2, ul, li {
  font-family: var(--font);
  color: var(--text-color);
}

.header h1{
  font-size: 5rem;
  padding-left: 2rem;
}

.header hr{
  border: none;
  margin: 0;
  padding: 0;
  height: 1rem;
  background-color: var(--text-color);
}



.NavBar {
  display: flex;
  list-style-type: none;
  font-size: 2.5rem;  
}

/* This is for the list elements on a NavBar component */
.NavBar li {
  padding-right: 3rem;
}
